/* UI Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* header section */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  /* gap: 10px; */
}

header > h2 {
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
}

/* NavBar */

nav > ul {
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 15px;
}

nav ul a {
  color: black;
}

/* Header-Btn */

.Header-Btn {
  background-color: #f58a071a;
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.Header-Btn > a {
  color: #f58a07;
}

nav a:hover {
  opacity: 0.5;
}

/* hamburger Button   */

.menu-line {
  height: 3px;
  width: 25px;
  background-color: rgb(233, 33, 46);
  margin: 4px 0;
  transition: all 0.3s ease;
}

.menu {
  display: none;
  cursor: pointer;
}

/* CONTACT form */

.contact-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5;
}

.form-Section > h1,
p {
  margin: 25px 0;
}

.input-group input {
  background-color: #e7e7e7;
  border-radius: 5px;
  border: 0;
}

.input-group > input:hover {
  background-color: #e7e7e789;
  cursor: pointer;
}
.input-group > input {
  width: 500px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.input-group > input:focus {
  outline: 0;
}

form > button {
  padding: 10px;
  border: 0;
}

/* location */

.location {
  margin-top: 30px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

/* iframe */

iframe {
  margin-top: 50px;
  border: 0;
  border-radius: 10px;
}

/* ---Error icons--- */

/* Input Group */

.input-group {
  position: relative;
}
/* Input border */

.input-group.success input {
  border-color: #0cc477;
}

.input-group.error input {
  border-color: red;
}

/* Icons */

.input-group .fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.input-group .fa-times-circle {
  color: #df1a24;
  visibility: visible;
}

.input-group .fa-check-circle,
.input-group .fa-times-circle {
  position: absolute;
  top: 20px;
  right: 10px;
  visibility: hidden;
}

/* Error Message */

.error {
  font-size: 14px;
  color: red;
  margin: 5px 0;
}

/* submit successs msg */

#success-message {
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
}

/* location */

.location {
  margin-top: 30px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

/* iframe */

iframe {
  margin-top: 50px;
  border: 0;
  border-radius: 10px;
}

/* footer */

.footer {
  background-color: #063255;
  color: white;
  padding: 30px;
  margin-top: 150px;
  position: relative;
}
.footer-content h1 {
  margin-bottom: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
}

.footer input:focus {
  outline: none;
  border: none;
  cursor: pointer;
}

.footer input:hover {
  cursor: pointer;
}

.copyright {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.Shape-Right img {
  position: absolute;
  top: 80px;
  right: 0;
}

.Shape-left img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Media query */

@media only screen and (max-width: 480px) {
  /*  header */
  header {
    display: flex;
    flex-direction: column;
  }

  /* logo */
  .logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  /* navbar */
  nav > ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
  }

  /* naVBtn */
  .Header-Btn {
    margin-bottom: 70px;
  }

  .Header-Btn:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .Header-Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    height: auto;
    /* position: relative; */
  }

  .Header-Banner-logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Hero-img img {
    width: 350px;
    height: 100%;
    object-fit: cover;
    margin: 70px 0;
    display: block;
    position: relative;
    right: 100px;
  }
  /* All sectors */

  .sectors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sectors-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: justify;
  }

  /* Business challenges */

  .Business-challenges {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .support {
    display: flex;
    flex-direction: column;
  }

  .softwaresolution {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .Invoicing {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  /* start-up  */
  .start-up {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* text-align: center; */
  }

  .start-up-content-A {
    width: 100%;
    height: auto;
    display: block;
    text-align: justify;
  }

  /* Helping clients */

  .Helping-clients {
    width: 100%;
    height: auto;
    display: block;
  }

  .Helpin-clients-content {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px;
  }

  .Helpin-clients-content-Btn {
    margin-top: 100px;
  }

  .Helpin-clients-content-Btn > button {
    margin-top: 10px;
  }

  .Helpin-clients-content-Btn > button:hover {
    opacity: 0.5;
  }

  .Helpin-clients-content-img {
    margin-top: 30px;
  }

  /* Energy of a start-up  */

  .Energy-of-start-up {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Experience img {
    display: block;
    width: 600px;
    object-fit: cover;
    align-items: center;
    position: relative;
    left: 139px;
  }

  .Experience-content {
    background-color: #f58a07;
    width: 100%;
    padding: 25px 10px;
    color: white;
  }

  .Experience-content > button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    color: #f58a07;
  }

  .Experience-content h2 {
    font-size: 1.2rem;
  }

  .Finsweet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Chikelu-img img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 35px;
  }

  /* Latest Blog & News */

  .Latest-Blog-News {
    text-align: center;
    padding: 25px;
  }

  .Latest-Blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    margin: 20px 0;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 1rem;
    margin: 10px 0;
  }

  .card-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .card span {
    display: inline-block;
    margin-top: 5px;
    font-size: 0.85rem;
  }

  /* footer */

  .footer {
    display: block;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .copyright {
    display: block;

    text-align: center;
  }

  /* Hamburger Menu */

  .logo {
    margin: 0;
    align-self: start;
  }
  nav {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    display: block;
    padding: 10px 0;
    border: 1px solid rgb(255, 255, 255);
  }

  nav ul li a {
    color: #000000;
  }
  nav ul {
    text-align: center;
    padding: 0;
    margin-top: 35px;
    font-weight: bolder;
    background-color: #c5c5c57e;
    width: 400px;
    display: none;
  }

  nav ul:hover {
    background-color: white;
    cursor: pointer;
  }
  .menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .showmenu {
    display: block;
  }

  .Header-Btn {
    margin: 35px 0;
  }

  /* form */

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  /* contact form */

  .form-Section {
    width: 80%;
    margin: 0 auto;
  }

  .input-group input {
    width: 100%;
  }

  .form-Section,
  h1,
  p {
    margin-bottom: 25px;
  }

  .location {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
  }

  /* Menu animation */
  .rotate-down {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .rotate-up {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hide {
    opacity: 0;
  }
}
